* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;  /* dành cho firefox bản cũ */
    -webkit-box-sizing: border-box; /* dành cho chrome bản cũ */
}

html {
    font-family: sans-serif, Arial, Helvetica;
    color: black;
    font-size: 10px;
}

img {
    width: 100%;
    height: auto;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

@media only screen and (max-width: 960px) {
    /* For mobile: */
    html {font-size: 12px};
    .col-mb-1 {width: 8.33%;}
    .col-mb-2 {width: 16.66%;}
    .col-mb-3 {width: 25%;}
    .col-mb-4 {width: 33.33%;}
    .col-mb-5 {width: 41.66%;}
    .col-mb-6 {width: 50%;}
    .col-mb-7 {width: 58.33%;}
    .col-mb-8 {width: 66.66%;}
    .col-mb-9 {width: 75%;}
    .col-mb-10 {width: 83.33%;}
    .col-mb-11 {width: 91.66%;}
    .col-mb-12 {width: 100%;}
}

@media only screen and (min-width: 960px) {
    /* For desktop: */
    html {font-size: 14px;}
    .col-pc-1 {width: 8.33%;}
    .col-pc-2 {width: 16.66%;}
    .col-pc-3 {width: 25%;}
    .col-pc-4 {width: 33.33%;}
    .col-pc-5 {width: 41.66%;}
    .col-pc-6 {width: 50%;}
    .col-pc-7 {width: 58.33%;}
    .col-pc-8 {width: 66.66%;}
    .col-pc-9 {width: 75%;}
    .col-pc-10 {width: 83.33%;}
    .col-pc-11 {width: 91.66%;}
    .col-pc-12 {width: 100%;}
}